body {
  background-color: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.movie-app > .row::-webkit-scrollbar {
  background: gray;
  border-radius: 10px;
}

.movie-app > .row::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .image-container img {
    max-width: 50%;
  }
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 92.5%;
  transition: 0.5s ease-in;
  opacity: 0;
  bottom: 0;
  left: 0.00001;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
